# Functions, Scoping, Data Collections 1 & List Comprehensions

## Tasks Today:

<i>Monday Additions (for loops)</i>

1) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
2) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
 
3) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>
4) Working With Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) min() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) max() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) sum() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) sort() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Copying a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) 'not in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Checking an Empty List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Removing Instances with a Loop <br> 
5) List Comprehensions <br>
6) Tuples <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) sorted() <br>

### For Loops

In [34]:
# for keyword, counter/iterator, in keyword, object
value = "1 2 3 4"
value = value.replace(" ", "")

for x in value:
    x = int(x)
    print(x+1)
    

num = 54321
num_str = str(num)
expo = len(num_str)
print(type(num_str), expo)

total = sum(int(num_str)**expo for z in num_str)

total1 = 0

for z in num_str:
    total1 += int(num_str)**expo
    
print(total)
print(total1)

2
3
4
5
<class 'str'> 5
2364878243656069172878005
2364878243656069172878005

In [42]:
# enumerate()

variable = "Alex Huynh"

for i, string in enumerate(variable): # unpacking the tuple inside loop
    print(i, string)

for tup in enumerate(variable): # not unpacking the tuple
    print(tup)

0 A
1 l
2 e
3 x
4
5 H
6 u
7 y
8 n
9 h
(0, 'A')
(1, 'l')
(2, 'e')
(3, 'x')
(4, ' ')
(5, 'H')
(6, 'u')
(7, 'y')
(8, 'n')
(9, 'h')

##### Using 'in' keyword

In [47]:
#in is what accesses the items in an iterable

val = [["Alex Huynh"],["Justin"],["Ryan"]]

for x in val:
    print(x)

name = ["alex", "ryan", "jack"]

for n in name:
    if "n" in n:
        print(n)
    else:
        print("not found")

    
for x in range(15):
    print(x**2)

['Alex Huynh']
['Justin']
['Ryan']
not found
ryan
not found
0
1
4
9
16
25
36
49
64
81
100
121
144
169
196

##### Continue Statement

In [58]:
#continue

for i in range(20):
    if i==13 or i==8 or i==17:
        continue
    print(i)

0
1
2
3
4
5
6
7
9
10
11
12
14
15
16
18
19

##### Break Statement

In [63]:
# break will break out of current loop
# used as a break as part of condition

for n in range(10):
    print(n)
print("\n")

for n in range(10):
    if n == 7:
         break
    else:
        print(n)

0
1
2
3
4
5
6
7
8
9


0
1
2
3
4
5
6

##### Pass Statement

In [68]:
# mostly used as a placeholder, and will continue on same iteration

for i in range(20):
    pass

In [73]:
cool_person = "Yugi Moto"
# loop through cool_person using the three for loops we talked about earlier
#loop by value
#loop by index
#loop with enumerate


for i, val in enumerate(cool_person):
    print (val)
print("\n")
for i, val in enumerate(cool_person):
    print (cool_person[i], i)
print("\n")
for i, val in enumerate(cool_person):
    print (i, val, cool_person[i])

Y
u
g
i

M
o
t
o


Y 0
u 1
g 2
i 3
  4
M 5
o 6
t 7
o 8


0 Y Y
1 u u
2 g g
3 i i
4
5 M M
6 o o
7 t t
8 o o

##### Double For Loops

In [84]:
val = ["Alex", "Justin", "Razvan"]

for x in val:
    has_x = False
    
    for y in x:
        if y == "x":
            has_x = True
            break
    
    if has_x:
        print(x, "has an x")
    else:
        print(x, "does not have an x")

Alex has an x
Justin does not have an x
Razvan does not have an x

In [95]:
for i in range(5):
    print("\n")
    for j in range(5):
        print("i = ", i, "j = ", j)

i =  0 j =  0
i =  0 j =  1
i =  0 j =  2
i =  0 j =  3
i =  0 j =  4


i =  1 j =  0
i =  1 j =  1
i =  1 j =  2
i =  1 j =  3
i =  1 j =  4


i =  2 j =  0
i =  2 j =  1
i =  2 j =  2
i =  2 j =  3
i =  2 j =  4


i =  3 j =  0
i =  3 j =  1
i =  3 j =  2
i =  3 j =  3
i =  3 j =  4


i =  4 j =  0
i =  4 j =  1
i =  4 j =  2
i =  4 j =  3
i =  4 j =  4

In [111]:
for i in range(2):    
    for j in range(2):
        for k in range(2):
            for l in range(2):
                print(i,j,k,l)

0 0 0 0
0 0 0 1
0 0 1 0
0 0 1 1
0 1 0 0
0 1 0 1
0 1 1 0
0 1 1 1
1 0 0 0
1 0 0 1
1 0 1 0
1 0 1 1
1 1 0 0
1 1 0 1
1 1 1 0
1 1 1 1

### While Loops

In [119]:
#while keyword, condition statement
#while loop will run based on the condition statement

counter = 0

while counter < 11:
    
    counter += 1
    print(counter)

1
2
3
4
5
6
7
8
9
10
11

In [127]:
num = 30

while num > 15:
    print(num**2)
    num -= 1

900
841
784
729
676
625
576
529
484
441
400
361
324
289
256

In [134]:
num = 0

while num <= 15:
    print(num**2)
    num += 1

0
1
4
9
16
25
36
49
64
81
100
121
144
169
196
225

##### looping 'While True'

In [135]:
# true as a condition for while loop to run

game_over = False

while True:
    print("non stop baby")
    if game_over == False:
        break

while True:
    
    quit = input("say quit to stop ")
    if quit == "quit":
        print("so long alligator")
        break
    else:
        print("infinite loop")

non stop baby
say quit to stop
infinite loop
say quit to stop
infinite loop
say quit to stop
infinite loop
say quit to stop
infinite loop
say quit to stop sf
infinite loop
say quit to stop sf
infinite loop
say quit to stop sfs
infinite loop
say quit to stop quit
so long alligator

##### While & For Loops Used Together

In [141]:
j = 1

while j < 10:
    
    print("handstand set", j)
    
    for i in range(1, 5):
        
        print("handstand count", i)
    print("\n")
    j += 1

handstand set 1
handstand count 1
handstand count 2
handstand count 3
handstand count 4


handstand set 2
handstand count 1
handstand count 2
handstand count 3
handstand count 4


handstand set 3
handstand count 1
handstand count 2
handstand count 3
handstand count 4


handstand set 4
handstand count 1
handstand count 2
handstand count 3
handstand count 4


handstand set 5
handstand count 1
handstand count 2
handstand count 3
handstand count 4


handstand set 6
handstand count 1
handstand count 2
handstand count 3
handstand count 4


handstand set 7
handstand count 1
handstand count 2
handstand count 3
handstand count 4


handstand set 8
handstand count 1
handstand count 2
handstand count 3
handstand count 4


handstand set 9
handstand count 1
handstand count 2
handstand count 3
handstand count 4

In [151]:
j = 1

while j < 10:
    
    print("handstand set", j)
    
    for i in range(5):
        
        if i == 0:
            continue
        
        print("handstand count", i)
    print("\n")
    j += 1

handstand set 1
handstand count 1
handstand count 2
handstand count 3
handstand count 4


handstand set 2
handstand count 1
handstand count 2
handstand count 3
handstand count 4


handstand set 3
handstand count 1
handstand count 2
handstand count 3
handstand count 4


handstand set 4
handstand count 1
handstand count 2
handstand count 3
handstand count 4


handstand set 5
handstand count 1
handstand count 2
handstand count 3
handstand count 4


handstand set 6
handstand count 1
handstand count 2
handstand count 3
handstand count 4


handstand set 7
handstand count 1
handstand count 2
handstand count 3
handstand count 4


handstand set 8
handstand count 1
handstand count 2
handstand count 3
handstand count 4


handstand set 9
handstand count 1
handstand count 2
handstand count 3
handstand count 4

##### The Range Function

In [164]:
# range(start, stop, step) - stop is required and start defaults to 0 if none is given

# stop
for num in range(10):
    print(num)
print("\n")

# start, stop
for num in range(1, 10):
    print(num)
print("\n")
    
# step
for num in range(1, 10, 2):
    print(num)
print("\n")

0
1
2
3
4
5
6
7
8
9


1
2
3
4
5
6
7
8
9


1
3
5
7
9

### String Manipulation Exercise

In [174]:
names = ['    coNNor', 'max', ' EVan ', 'JORDAN']
# HINT: You will need to use a for loop for iteration
# Loop through the names list, remove white space and capitalize the first letter of each name. Print each new name.
lis = []

for x in names:
    name = x.split()
    
    for y in name:
        final = y.title()
        print(final)
        
    lis += [final]
    
print("here is the list of names", lis)

Connor
Max
Evan
Jordan
here is the list of names ['Connor', 'Max', 'Evan', 'Jordan']

In [181]:
for x in names:
    print(x.strip().title())

Connor
Max
Evan
Jordan

In [183]:
clean_names = []

for name in names:
    clean_names.append(name.strip().title())

print(clean_names)

['Connor', 'Max', 'Evan', 'Jordan']

## Lists

##### Declaring Lists

In [234]:
names = ["alex", "liz", "ryan", "justin", "alex"]
print(names)

num = [1, 2, 3, 4, 5]
print(num)

things = [1, "steve", "johnny", 21]
print(things)

['alex', 'liz', 'ryan', 'justin', 'alex']
[1, 2, 3, 4, 5]
[1, 'steve', 'johnny', 21]

##### Indexing a List

In [266]:
# [start: stop: step] --> last item [-1]

names = ["alex", "liz", "ryan", "justin", "alex", "mo"]
num = [1, 2, 3, 4, 5]
things = [1, "johnny", 21, "appleseed", 141, "steve", "walker", "jobs"]

print(names[0])
print(names[-1])


### List Slicing

# start at index 1 to end of list
print(names[1:])

# start at index 4 back to beginning of list
print(num[:4])

# start at index 1 and step 2
print(things[1::2])

# reverse list
print(names[::-1])

rev_num = num[::-1]
print(rev_num)

alex
mo
['liz', 'ryan', 'justin', 'alex', 'mo']
[1, 2, 3, 4]
['johnny', 'appleseed', 'steve', 'jobs']
['mo', 'alex', 'justin', 'ryan', 'liz', 'alex']
[5, 4, 3, 2, 1]

### List Methods

##### .append()

In [269]:
# append will always add to end of list

names = ["alex", "liz", "ryan", "justin", "alex", "mo"]
num = [1, 2, 3, 4, 5]
things = [1, "johnny", 21, "appleseed", 141, "steve", "walker", "jobs"]

names.append("william")
print(names)

names.append("jeiavonni")
print(names)

['alex', 'liz', 'ryan', 'justin', 'alex', 'mo', 'william']
['alex', 'liz', 'ryan', 'justin', 'alex', 'mo', 'william', 'jeiavonni']

##### .insert()

In [277]:
#our_list.insert(index, value)

names = ["alex", "liz", "ryan", "justin", "alex", "mo"]
num = [1, 2, 3, 4, 5]
things = [1, "johnny", 21, "appleseed", 141, "steve", "walker", "jobs"]

names.insert(1, "Morgan")
print(names)

names.insert(5, "Razvan")
print(names)

['alex', 'Morgan', 'liz', 'ryan', 'justin', 'alex', 'mo']
['alex', 'Morgan', 'liz', 'ryan', 'justin', 'Razvan', 'alex', 'mo']

##### .pop()

In [283]:
# default is the last value if no parameter is given
# pop returns the element that was removed in case you want to assign it into a variable


# list.pop(optional index to pop out)

names = ["alex", "liz", "ryan", "justin", "alex", "mo"]
names.pop(4)
print(names)

pop_names = names.pop(1)
print(pop_names)

['alex', 'liz', 'ryan', 'justin', 'mo']
liz

##### .remove()

In [284]:
# value to be removed, not an index
names = ["alex", "liz", "ryan", "justin", "alex", "mo"]
num = [1, 2, 3, 4, 5]
things = [1, "johnny", 21, "appleseed", 141, "steve", "walker", "jobs"]

names.insert(1, "razvan")
print(names)

names.insert(4, "razvan")
print(names)

names.remove("razvan")
print(names)

['alex', 'razvan', 'liz', 'ryan', 'justin', 'alex', 'mo']
['alex', 'razvan', 'liz', 'ryan', 'razvan', 'justin', 'alex', 'mo']
['alex', 'liz', 'ryan', 'razvan', 'justin', 'alex', 'mo']

### Working With Lists

##### del()

In [289]:
# index to be removed, not value 

names = ["alex", "ryan", "liz", "justin", "alex", "mo", "morgan", "razvan", "jeiavonni", "william" ]
del names[0:2] # able to slice
print(names)

['liz', 'justin', 'alex', 'mo', 'morgan', 'razvan', 'jeiavonni', 'william']

##### min()

In [298]:
# return the smallest item in a list
num = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 0]

print(min(num))

num = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, -4]

min_num = min(num)
print(min_num)

# Capital letter is taken first 
names = ["alex", "Ryan", "liz", "justin", "alex", "Mo", "morgan", "razvan", "jeiavonni", "william" ]
print(min(names))

names = ["alex", "ryan", "liz", "justin", "alex", "mo", "morgan", "razvan", "jeiavonni", "william" ]
print(min(names))

0
-4
Mo
alex

##### max()

In [299]:
# returns largest item in a list

num = [12, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 0]

print(max(num))

num = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, -4]

max_num = max(num)
print(max_num)

# lowercase letter is taken first 
names = ["alex", "Ryan", "liz", "justin", "alex", "Mo", "morgan", "razvan", "jeiavonni", "william" ]
print(max(names))

names = ["alex", "ryan", "liz", "justin", "alex", "mo", "morgan", "razvan", "jeiavonni", "william" ]
print(max(names))

12
10
william
william

##### sum()

In [300]:
# return the sum of all numbers in a list


num = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, -4]

print(sum(num))

51

##### sorted()

In [302]:
#sorted will return a new sorted list, create a new variable
num = [12, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 0]

print(sorted(num))

num = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, -4]

sort_num = sorted(num)
print(sort_num)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12]
[-4, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

##### .sort() <br>
<p>Difference between sort and sorted, is that sorted doesn't change original list it returns a copy, while .sort changes the original list</p>

In [332]:
#.sort() will sort the original list

num = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, -4]
num.sort()
print(num)

names = ["alex", "Ryan", "liz", "justin", "Alex", "mo", "morgan", "Razvan", "jeiavonni", "william" ]
names.sort()
print(names)

[-4, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
['Alex', 'Razvan', 'Ryan', 'alex', 'jeiavonni', 'justin', 'liz', 'mo', 'morgan', 'william']

##### Copying a List

In [307]:
# [:] copies a list, doesn't alter original'
names = ["alex", "Ryan", "liz", "justin", "Alex", "mo", "morgan", "Razvan", "jeiavonni", "william" ]
print(names[:])
names_copy = names[:]
print(names_copy)

['alex', 'Ryan', 'liz', 'justin', 'Alex', 'mo', 'morgan', 'Razvan', 'jeiavonni', 'william']
['alex', 'Ryan', 'liz', 'justin', 'Alex', 'mo', 'morgan', 'Razvan', 'jeiavonni', 'william']

##### Looping Through Lists

In [316]:
#Two ways to loop through a list. one is by index and the other is by value, using the "in" keyword
names = ["Han Solo", "Leia Organa", "Luke Skywalker", "Lando Calrissian", "Mace Windu"]

# enumerate
for i, n in enumerate(names):
    print (i, n)

print("\n")    

# looping by index
for i in range(len(names)):
    print(i, names[i])
    
print("\n")
for name in names:
    print(name)

0 Han Solo
1 Leia Organa
2 Luke Skywalker
3 Lando Calrissian
4 Mace Windu


0 Han Solo
1 Leia Organa
2 Luke Skywalker
3 Lando Calrissian
4 Mace Windu


Han Solo
Leia Organa
Luke Skywalker
Lando Calrissian
Mace Windu

##### 'in' keyword

In [324]:
names = ["alex", "Ryan", "liz", "justin", "Alex", "mo", "morgan", "Razvan", "jeiavonni", "william" ]

if "liz" in names:
    print("go liz go")
else:
    print("no liz found")
    
if "liz" in names and "duck" in names:
    print("how wild")
else:
    print("go figured")

go liz go
go figured

##### 'not in' keyword

In [325]:
names = ["alex", "Ryan", "liz", "justin", "Alex", "mo", "morgan", "Razvan", "jeiavonni", "william" ]

if "duck" not in names:
    print("how wild")
else:
    print("go figured")

how wild

##### Checking an Empty List

In [339]:
lis = []
lis2 = []

if lis == []:
    print("list is empty")
    
if lis == lis2:
    print("both empty")
else:
    print("has stuff")
    
if lis:
    print("has stuff")
else:
    print("is empty")
    
print("\n")
lis3 = []
lis4 = []

if lis3 == []:
    print("list is empty")
    
if lis3 == lis4:
    print("both empty")
else:
    print("has stuff")
    
if lis3:
    print("has stuff")
else:
    print("is empty")

list is empty
both empty
is empty


list is empty
both empty
is empty

##### Removing Instances with a Loop

In [365]:
#while, remove

names = ["alex", "ryan", "liz", "justin", "alex", "mo", "morgan", "razvan", "jeiavonni", "william" ]

for name in names:
    if name == "alex":
        names.remove(name)
print(names)

# if two names are right next to each other, computer gets tricked because alex on names[4] is removed 
# and alex on names[5] now becomes names[4] and the computer misses it
names = ["alex", "ryan", "liz", "justin", "alex", "alex", "mo", "morgan", "razvan", "jeiavonni", "william" ]

for name in names:
    if name == "alex":
        names.remove(name)
print(names)


## while loop
names = ["alex", "ryan", "liz", "justin", "alex", "mo", "morgan", "razvan", "jeiavonni", "william" ]
while "alex" in names:
    names.remove("alex")
print(names)

['ryan', 'liz', 'justin', 'mo', 'morgan', 'razvan', 'jeiavonni', 'william']
['ryan', 'liz', 'justin', 'alex', 'mo', 'morgan', 'razvan', 'jeiavonni', 'william']
['ryan', 'liz', 'justin', 'mo', 'morgan', 'razvan', 'jeiavonni', 'william']

### List Exercise <br>
<p>Remove all duplicates<br><b>Extra: Create a program that will remove any duplicates from a given list</b></p>

In [367]:
names = ['connor', 'connor', 'bob', 'connor', 'evan', 'max', 'evan', 2, 2, 2, 3, 3, 4, 'bob', 'kevin']
# Hint 1: You will need an append
# Hint 2: Using an empty list will make life easier


# The way of the hint

no_repeat = []

for i in names:
    
    if i not in no_repeat:
        no_repeat.append(i)
        
print(no_repeat)

# Work smarter not harder

one_of_kind = list(set(names))
print(one_of_kind)

#or

print(list(set(names)))
          
# Now make it a function

def no_repeat(names):
    no_repeat = []

    for i in names:

        if i not in no_repeat:
            no_repeat.append(i)
    return(no_repeat)

no_repeat(names)

['connor', 'bob', 'evan', 'max', 2, 3, 4, 'kevin']
[2, 'max', 3, 'connor', 4, 'kevin', 'bob', 'evan']
[2, 'max', 3, 'connor', 4, 'kevin', 'bob', 'evan']

['connor', 'bob', 'evan', 'max', 2, 3, 4, 'kevin']

In [381]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
squared_nums = []

for number in nums:
    if number % 2 == 0:
        number = number ** 2
        squared_nums.append(number)
        
print(squared_nums)

[4, 16, 36, 64, 100]

### List Comprehensions <br>
<p>Creating a quickly generated list to work with<br>*result*  = [*transform*    *iteration*         *filter*     ]</p>

##### In a list comprehension we have a few pieces:
1. The first is the counter/ variable - IN this the variable is x
2. then we have a transform for the variable
3. The finale part of a list comp is called the condition

```python
    [transform, iteration/variable, condition]
```

In [382]:
# transform
nums = [2, 4, 5, 6, 7, 8, 9, 10]
nums_squared = [x**2 for x in nums if x%2 == 0]
print(nums_squared)

# how nums_squared looks like written out
squared_num = []

for number in nums:
    if number % 2 == 0:
        number = number ** 2
        squared_num.append(number)
        
print(squared_num)

[4, 16, 36, 64, 100]
[4, 16, 36, 64, 100]

There are a few benefits to using List comprehensions. The most obvious would be that we now have shorter code to work with instead of using 3+ lines of code in the for loop variant.

Another is an added benefit to memory usage. Since the list's memory is allocated first before adding elements to it, we don't have to resize the list once we add elements to it.

Lastly, list comprehensions are considered the "pythonic" way to write code by the PEP8 standards (Python Style Guide)

### Tuples <br>
<p><b>Defined as an immutable list</b></p><br>Seperated by commas using parenthesis

In [392]:
tup_1 = (1, 2, 3)
print(type(tup_1))

tup_2 = 1, 2, 3
print("length of this tuple is ", len(tup_2))


print(tup_1, tup_2)

if tup_1 == tup_2:
    print("yurrr")
else:
    print("boo")
    
tup_3 = 4, 5, 6

for num in tup_3:
    print(num)

print(type(tup_1))

<class 'tuple'>
length of this tuple is  3
(1, 2, 3) (1, 2, 3)
yurrr
4
5
6
<class 'tuple'>

##### sorted()

In [401]:
tup = (0, 1, 64, 34, 30)
sorted_tup= sorted(tup)
print(sorted_tup)

lis = [2, 8, 10, 24]
sorted_lis = sorted(lis)
print(sorted_lis)

sorted_lis = tuple(sorted_lis)
sorted_tup = tuple(sorted_tup)

new_tup_list = sorted_lis + sorted_tup

print(new_tup_list)

new_new = sorted_lis + sorted_tup + tup
print(new_new)

[0, 1, 30, 34, 64]
[2, 8, 10, 24]
(2, 8, 10, 24, 0, 1, 30, 34, 64)
(2, 8, 10, 24, 0, 1, 30, 34, 64, 0, 1, 64, 34, 30)

##### Adding values to a Tuple

In [403]:
tup = (0, 1, 64, 34, 30)
print(tup)

tup = tup + (6, )

print(tup)

(0, 1, 64, 34, 30)
(0, 1, 64, 34, 30, 6)

# Exercises

## Exercise 1 <br>
<p>Using the given list, print out a filtered version of the list with only the numbers that are less than ten</b></i></p><br>

In [217]:
alist = [1,11,14,5,8,9]
# alist = [1,11,14,5,8,9,21,42,6344,2313,2,5,2,6,8]

newlis = []

for i in alist:
    if i < 10:
        newlis += [i]
    else:
        continue

print(newlis)

[1, 5, 8, 9]

## Exercise 2 <br>
<p>Merge and sort the two lists below<br>
<b><i>Hint: You can use the .sort() method</i></b></p>

In [409]:
l_1 = [1,2,3,4,5,6]
l_2 = [3,4,5,6,7,8,10]

# l_3 = []
l_3 = sorted(l_1 + l_2)
print(l_3)


## remove duplicate numbers
no_repeat = []

for i in l_3:
    
    if i not in no_repeat:
        no_repeat.append(i)
        
print(no_repeat)

[1, 2, 3, 3, 4, 4, 5, 5, 6, 6, 7, 8, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 10]

## Exercise 3 <br>
<p>Square every number from 1 to 15<br>

In [213]:
# Way 1
j = 1

while j < 16:
    for i in range(16):
        
        if i == 0:
            continue
        else:
            j = i **2
        
        print(i, "squared is", j)
    j += 1

print("\n")

# Way 2
j = 1

while j < 16:
    for i in range(1, 16):
        j = i **2
        
        print(i, "squared is", j)
    j += 1

1 squared is 1
2 squared is 4
3 squared is 9
4 squared is 16
5 squared is 25
6 squared is 36
7 squared is 49
8 squared is 64
9 squared is 81
10 squared is 100
11 squared is 121
12 squared is 144
13 squared is 169
14 squared is 196
15 squared is 225


1 squared is 1
2 squared is 4
3 squared is 9
4 squared is 16
5 squared is 25
6 squared is 36
7 squared is 49
8 squared is 64
9 squared is 81
10 squared is 100
11 squared is 121
12 squared is 144
13 squared is 169
14 squared is 196
15 squared is 225

## Exercise 4<br>
<p>Using List Comprehension and the given list, print out a filtered list with 
only the names that start with the letter 'a'. 
The names in the outputted list should be title cased and have no whitespace.<br>
<p>Hint: There is an empty string at the end of the list you will need to account for.

In [410]:
names_list = ['   amy', 'Briant', 'Ryan ', ' Alex', 'steve', '  ']
#expected output = ['Amy', 'Alex']


## Way 1

clean_names = []

for name in names_list:
    clean_names.append(name.strip().title())
# print(clean_names)

a_names = []
    
for name in clean_names:
    if len(name) > 1 and name[0].lower() == 'a': 
#         print(name[0])
        a_names.append(name)
        
print(a_names)


## Way 2

clean_names = []

for name in names_list:
    clean_names = name.strip().title()

    
    if len(name) > 1 and name[0].lower() == 'a': 
        a_names.append(name)
        
print(a_names)

['Amy', 'Alex']
['Amy', 'Alex']

## Exercise 5 <br>
<p>Print all Prime numbers from 1 to 100<br>
<p>Hint: A Prime # is any # that is ONLY divisible by 1 and itself. So think how you can iterate through the list of #s from 1 to 100 and check to see if its divisible by ANY # below it.
<p>The For/Each might be very helpful for this question. 
https://www.geeksforgeeks.org/using-else-conditional-statement-with-for-loop-in-python/

In [384]:
prime = []

for num in range(1,100):
    if num > 1:

        for i in range(2, int(num/2)+1):

            if (num % i) == 0:
                break
        else:
            print(num, "is a prime number")
            prime.append(num)
        
print("All the prime numbers between 1-100 are: ", prime)

2 is a prime number
3 is a prime number
5 is a prime number
7 is a prime number
11 is a prime number
13 is a prime number
17 is a prime number
19 is a prime number
23 is a prime number
29 is a prime number
31 is a prime number
37 is a prime number
41 is a prime number
43 is a prime number
47 is a prime number
53 is a prime number
59 is a prime number
61 is a prime number
67 is a prime number
71 is a prime number
73 is a prime number
79 is a prime number
83 is a prime number
89 is a prime number
97 is a prime number
All the prime numbers between 1-100 are:  [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]